body, html {
  margin: 0;
  color: black;
  height: 100%;
  margin-top: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: black;
  padding-top: 100px;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.blockrow {
  width: 80%;
  margin: 20px auto
}

.img-fluid:hover {
  cursor: pointer;
}
